:root {
    --rad: 10px;
    --font-fam: 'Lato', sans-serif;
    --height: 50px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 30px;
}

.info {
    display: flex;
    justify-content: space-evenly;
}

.span {
    display: block;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 300;
}

.header {
    background-color: rgb(36, 75, 143);
    height: 80px;
}

.search-form {
    width: 30rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
    display: flex;
}

input,
.searchBtn {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    font-size: 20px;
}

.searchBtn {
    position: relative;
    right: 50px;
    color: rgb(255, 255, 255);
    border-radius: 0px 10px 10px 0px;
}

.searchBtn:hover {
    background-color: #e4c2c2;
}

input[type="text"] {
    outline: 0;
    width: 100%;
    padding: 0 10px;
    border-radius: var(--rad);
}

input {
    width: calc(100% - var(--btn-width));
}


.sl-counter {
    display: none;
}

.sl-current {
    visibility: hidden
}

.sl-total {
    display: none;
}

.load-more {
    background-color: rgb(36, 75, 143);
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: var(--font-fam);
    font-size: 17px;
    font-weight: 900;
    height: 50px;
    padding: 14px 40px;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    margin-left: 50%;
}

.load-more:hover {
    background-color: rgb(47, 98, 188);
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.load-more:hover:after {
    opacity: .5;
}

.load-more:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
}

.load-more:active:after {
    opacity: 1;
}